@import url('common.css');

/*----------------  main  ----------------*/

main > p{
    width:70vw;
    margin:15vh auto 0 auto;
}

/* ------------------ s_1 ---------------------*/


.s_1{
    width:65vw;
    
    padding:10vh 0;
    position:relative;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.s_1 > h2{
    width:100%;
    margin-bottom:10%;
    text-align: center;
    text-transform: uppercase;
}
.s_1 .resultBtn{
    display: block;
    width:180px;
    height:60px;
    margin:0 auto;
    border:1px solid rgba(255,255,255,0.4);
    
    text-align: center;
    line-height: 4;
}
.s_1 .form{
    width:100%;
}
.s_1 .form .step{
    margin-bottom:13%;
}
.s_1 .form .step h3{
    text-align: left;
    font-size:18px;
    color:#fcfcfc;
    text-transform: uppercase;
    
    margin-bottom:7%;
}
.s_1 .form .step ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.s_1 .form .step ul li{
    width:180px;
    height:180px;
    border-radius: 100px;
    background:#313131;
    
    text-align: center;
    line-height: 13;
    color:#fcfcfc;
    
    transition:.5s;
}
.s_1 .form .step ul li:hover{
    background:#de2a00;
    cursor: pointer;
}
.s_1 .form .step ul li.active{
    background:#de2a00;
}




/*--------------- Mobile ---------------*/
@media (min-width:360px) and (max-width:767px){
    
    main > p{
    width:80vw;
    margin:10vh auto 0 auto;
    }

    .s_1{
        width:80vw;
        padding:5vh 0;
    }

    .s_1 > h2{
        font-size: 25px;
    }
    .s_1 a{
        width:40%;
    }
    .s_1 .form{
        width:100%;
        margin-bottom:15vh;
    }
    .s_1 .form .step{
        margin-bottom:13%;
    }
    .s_1 .form .step h3{

        font-size:15px;

        
        margin-bottom:5vh;
    }
    .s_1 .form .step ul{    
        margin-bottom:8vh;
    }
    .s_1 .form .step ul li{
        width:25vw;
        height:25vw;
        border-radius: 100px;

        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        line-height:1.5;
        font-size:12px;
        
        white-space: pre-line;
    }

}
    
/*-------------- Tablet -------------*/
@media (min-width:768px) and (max-width:1180px){
    
    main > p{
    width:80vw;
    margin:10vh auto 0 auto;
    }
    
    
     .s_1{
        width:80vw;
        padding: 5vh 0;
    }
    .s_1 .form{
        width:100%;
        margin-bottom:15vh;
    }

}