@import url("common.css");


/*----------------  main  ----------------*/

main > p {
  width: 70vw;
  margin: 15vh auto 0 auto;
}

/* ------------------ s_1 ---------------------*/

.s_1 {
  width: 65vw;

  padding: 5vh 0;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: baseline;
}

.s_1 > h2 {
  width: 100%;
  text-align: left;
  text-transform: uppercase;
}
.s_1 > p {
  text-align: left;
  width: 100%;
}
.s_1 .news_container {
  width: 65%;
  margin: 0 0 5vh 0;
}
.s_1 .news_container article {
  width: 100%;
}
.s_1 .news_container article a:hover {
  color: #de2a00;
  transition: 0.3s;
}
.s_1 .news_container article .a_desc {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;

  margin-bottom: 2vh;
  position: relative;
}
.s_1 .news_container article .a_desc:after {
  content: "";
  width: 100%;
  height: 1px;
  margin: 2vh 0;

  background: rgba(255, 255, 255, 0.2);

  display: block;
}
.s_1 .news_container article .a_desc .share {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  width: 15vw;
  padding: 20px;
  background: #262626;
  border-radius: 10px;

  position: absolute;
  right: 0;
  top: 120%;

  z-index: 1;
  display: none;
}
.s_1 .news_container article .a_desc .share.active {
  display: block;
}
.s_1 .news_container article .a_desc .share .exit {
  width: 25px;
  height: 25px;

  position: absolute;
  right: 10%;
  top: 8%;

  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;
}
.s_1 .news_container article .a_desc .share .exit:hover {
  background: #000;
}
.s_1 .news_container article .a_desc .share .exit span {
  width: 20px;
  height: 1px;
  background: #f2f2f2;

  position: absolute;
}
.s_1 .news_container article .a_desc .share .exit span:nth-of-type(1) {
  right: 10%;
  top: 50%;
  transform: rotate(45deg);
}
.s_1 .news_container article .a_desc .share .exit span:nth-of-type(2) {
  right: 10%;
  top: 50%;
  transform: rotate(-45deg);
}
.s_1 .news_container article .a_desc .share span {
  font-size: 15px;
  font-weight: bold;
  color: #d7d7d7;

  text-transform: uppercase;
}
.s_1 .news_container article .a_desc .share .sns {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 20px 0 30px 0;
}
.s_1 .news_container article .a_desc .share .sns a:nth-of-type(1) {
  width: 31px;
  height: 31px;
  background: url("../img/icon_tw.png") no-repeat;
  background-position: center;
  background-size: cover;
}
.s_1 .news_container article .a_desc .share .sns a:nth-of-type(2) {
  width: 31px;
  height: 31px;
  background: url("../img/icon_fb.png") no-repeat;
  background-position: center;
  background-size: cover;
}
.s_1 .news_container article .a_desc .share .sns a:nth-of-type(3) {
  width: 31px;
  height: 31px;
  background: url("../img/icon_ins.png") no-repeat;
  background-position: center;
  background-size: cover;
}
.s_1 .news_container article .a_desc .share input[name="pagelink"] {
  border: none;
  border-radius: 10px;
  background: #d7d7d7;

  width: 100%;

  margin: 15px 0;
}
.s_1 .news_container article .a_desc .share input[name="copy"] {
  border-style: none;
  width: 80px;
  height: 28px;
  background: #de2a00;

  color: #f2f2f2;
  font-weight: bold;
  border-radius: 10px;

  float: right;
}
.s_1 .news_container article .contents {
  width: 100%;
  margin: 5vh auto;

  color: #f2f2f2;
}
.s_1 .news_container article .contents .video_wrap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video_wrap iframe,
.video_wrap object,
.video_wrap embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.s_1 .news_container article .img_box {
  width: 100%;
  overflow: hidden;

  position: relative;

  text-align: center;
  margin: 50px auto;
}

.s_1 .news_container article .img_box img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.s_1 .news_container article h2 {
  font-weight: bold;
  color: #f2f2f2;
}
.s_1 .news_container article p:nth-of-type(2) {
  width: 90%;
  color: #9b9b9b;

  margin: 6vh auto;
}

.s_1 .news_container article > a {
  position: relative;
}
.s_1 .news_container article > a:after {
  content: ">";
  color: #f2f2f2;
  position: absolute;
  right: -20%;
  bottom: -10%;

  transition: 0.5s;
}
.s_1 .news_container article > a:hover:after {
  transform: translateX(200%);
}

.s_1 .arti_list {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1vh 3vw;
  transition: 0.5s;
}

.s_1 .news_container .arti_list:hover {
  background: rgba(255, 255, 255, 0.2);
}
.s_1 .recent {
  width: 25%;
  margin: 0 auto 10vh auto;
}
.s_1 .recent h4 {
  color: #f2f2f2;
  font-weight: bold;
}

.s_1 .recent ul li:before,
.s_1 .recent ul li:last-child:after {
  content: "";
  width: 100%;
  height: 1px;
  margin: 1vh auto;
  background: rgba(255, 255, 255, 0.2);

  display: block;
}
.s_1 .recent ul li {
  width: 80%;
}
.s_1 .recent ul li:hover a {
  color: #de2a00;
  transition: 0.3s;
}
.s_1 .recent ul li a,
.s_1 .recent ul li span {
  width: 100%;
  display: block;
}
.s_1 .recent ul li span {
  color: #9b9b9b;
  font-size: 12px;
}


/*--------------- Mobile ---------------*/
@media (min-width: 360px) and (max-width: 767px) {
  
  main > p {
    width: 80vw;
    margin: 10vh auto 0 auto;
  }

  .s_1 {
    width: 80vw;
    padding: 5vh 0;
    flex-direction: column;
  }

  .s_1 .news_container {
    width: 100%;
    margin-top: 5vh;
    display: block;
  }
  .s_1 .news_container article {
    width: 100%;
    margin-bottom: 6vh;
  }

  .s_1 .recent {
    width: 100%;
  }
  .s_1 .recent ul li {
    width: 100%;
  }

  .s_1 .news_container article .a_desc .share {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 80vw;
    padding: 20px;
    background: #161616;
    border-radius: 10px;

    position: absolute;
    right: 0;
    top: 120%;

    z-index: 1;
    display: none;
  }
  .s_1 .news_container article .a_desc .share.active {
    display: block;
  }
  .s_1 .news_container article .a_desc .share .exit {
    width: 25px;
    height: 25px;

    position: absolute;
    right: 10%;
    top: 8%;

    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
  }
  .s_1 .news_container article .a_desc .share .exit:hover {
    background: #000;
  }
  .s_1 .news_container article .a_desc .share .exit span {
    width: 20px;
    height: 1px;
    background: #f2f2f2;

    position: absolute;
  }
  .s_1 .news_container article .a_desc .share .exit span:nth-of-type(1) {
    right: 10%;
    top: 50%;
    transform: rotate(45deg);
  }
  .s_1 .news_container article .a_desc .share .exit span:nth-of-type(2) {
    right: 10%;
    top: 50%;
    transform: rotate(-45deg);
  }
  .s_1 .news_container article .a_desc .share span {
    font-size: 15px;
    font-weight: bold;
    color: #d7d7d7;

    text-transform: uppercase;
  }
  .s_1 .news_container article .a_desc .share .sns {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 20px 0 30px 0;
  }
  .s_1 .news_container article .a_desc .share .sns a:nth-of-type(1) {
    width: 31px;
    height: 31px;
    background: url("../img/icon_tw.png") no-repeat;
    background-position: center;
    background-size: cover;
  }
  .s_1 .news_container article .a_desc .share .sns a:nth-of-type(2) {
    width: 31px;
    height: 31px;
    background: url("../img/icon_fb.png") no-repeat;
    background-position: center;
    background-size: cover;
  }
  .s_1 .news_container article .a_desc .share .sns a:nth-of-type(3) {
    width: 31px;
    height: 31px;
    background: url("../img/icon_ins.png") no-repeat;
    background-position: center;
    background-size: cover;
  }
  .s_1 .news_container article .a_desc .share input[name="pagelink"] {
    border: none;
    border-radius: 10px;
    background: #d7d7d7;

    width: 100%;

    margin: 15px 0;
  }
  .s_1 .news_container article .a_desc .share input[name="copy"] {
    border-style: none;
    width: 80px;
    height: 28px;
    background: #de2a00;

    color: #f2f2f2;
    font-weight: bold;
    border-radius: 10px;

    float: right;
  }
}

/*-------------- Tablet -------------*/
@media (min-width: 768px) and (max-width: 1180px) {

  main > p {
    width: 80vw;
    margin: 10vh auto 0 auto;
  }

  .s_1 {
    width: 90%;
    margin: 0 auto 10vh auto;
    flex-direction: column;
  }
  .s_1 h2 {
    width: 80%;
    text-transform: uppercase;
    font-size: 25px;
  }

  .s_1 p {
    width: 80%;
  }
  .s_1 .news_container {
    width: 90%;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .s_1 .news_container .a_desc p {
    font-size: 12px;
  }
  .s_1 .news_container article {
    width: 100%;
    overflow: hidden;
  }
  .s_1 .news_container article .img_box,
  .s_1 .news_container article .img_box img,
  .s_1 .news_container article h3,
  .s_1 .news_container article > p,
  .s_1 .recent ul,
  .s_1 .recent ul li {
    width: 100%;
  }
  .s_1 .recent {
    width: 90%;
    margin: 5vh auto;
  }
}